    {% macro navLink(name="stephen", href="/", color1="bg-white", color2="bg-white", rounded="rounded-none", firstClasses="", secondClasses="") %}

    <div>
      <a href="{{href}}" class="flex flex-col items-start transition-transform duration-100 transform group hover:-translate-y-2">
        <span
              class="transform transition-transform duration-100 ease-in-out inline-block px-8 py-4 leading-none border-2 {{rounded}} {{color1}} border-opacity-75 border-black {{firstClasses}}">
          Our
        </span>
        <span
              class="transform transition-transform duration-100 ease-in-out inline-block px-8 py-4 leading-none border-2 {{rounded}} {{color2}} border-opacity-75 border-black {{secondClasses}}">
          {{name}}!
        </span>
      </a>
    </div>

    {% endmacro %}