---
layout: default
permalink: 404.html
hidden: true
meta_title: 404
meta_description: 404 page description
body_class: 404
title: Oops!
---

<main id="main" class="container flex flex-col flex-1 px-6 py-10 m-auto main md:flex-row lg:px-0 lg:py-20">

    <section id="container-centre" class="flex-1 column centre">

        <h1 class="text-5xl page-title">{{ title }}</h1>

        <div class="content">
            <p>Sorry, we can't find that page!</p>
            <p><a href="/">Take me back to the homepage</a></p>
        </div>

    </section>

</main>