---
layout: default
meta_title: Home
meta_description: site template of stephen barkan
body_class: home
title: Home
---

<main id="main" class="relative flex flex-col items-center justify-center w-full min-h-full">

    <div id="wrapper" class="relative flex flex-col items-center w-full">
            Insert your content here! ❤️
    </div>
</main>