---
layout: interior
title: Recipes
eleventyNavigation:
	key: recipes
	parent: home
---
{% from "components/_recipe-link.njk" import recipeLink %}

<main>
    <ul class="grid grid-cols-2 gap-x-6">

        {% for recipe in collections.recipe | sort() %}

            {% if recipe.data.title %}
                <li>
                    {{ recipeLink(recipe.data.title, recipe.data.searchterms, recipe.data.image, recipe.url) }}
                </li>

            {% endif %}
        {% endfor %}
    </ul>
</main>

<script>
    const hoverFunction = function () {
        let update
        document.addEventListener("mousemove", function (event) {
            cancelAnimationFrame(update)
            update = requestAnimationFrame(function () {
                $html
                    .style
                    .setProperty("--mouseX", `${event.clientX}px`);
                $html
                    .style
                    .setProperty("--mouseY", `${event.clientY}px`);
            })
        });
    };
</script>
