<!doctype html>
<html lang="en" class="h-full antialiased transition-colors bg-neutral ease-smooth" data-theme="light">

    {% include "components/html-head.njk" %}

    <body {% if body_class %} id="{{ body_class }}" {% endif %}
      class="flex justify-center min-h-full font-sans leading-normal text-black text-default">

        <div id="wrapper">
            {{ content | safe }}
        </div>

    </body>

</html>