---
layout: default
---

<div x-cloak
	class="fixed top-0 z-10 w-screen transition duration-300 bg-none"
	:class="{'bg-beige' : !atTop}"
	style="background-image: url(/./images/noise.png);"
	x-data="{ atTop: true }"
	@scroll.window="atTop = (window.pageYOffset > 100) ? false : true">

	<nav
		class="container flex items-center justify-between transition-all duration-150 ease-out border-b-2 border-black border-opacity-0"
		:class="{'py-4 border-b-2 border-opacity-75' : !atTop, 'py-8': atTop}"
		style="will-change: padding;"
>

		{% if eleventyNavigation and eleventyNavigation.key and eleventyNavigation.parent %}

			<a class="flex items-center space-x-2 underline hover:opacity-75" href="/{{eleventyNavigation.parent}}">
				<div class="flex-shrink-0 w-5">
					{% include "icons/left-arrow.svg" %}
				</div>
				<span>{{eleventyNavigation.parent | capitalize}}</span>
			</a>
		{% else %}
			<h1
		class="font-light">
				<span
	 	class="inline-block leading-none transition-all duration-150 ease-out border-2 border-black border-opacity-75 bg-yellow"
		:class="{'text-3xl px-4 py-2' : !atTop, 'text-4xl px-6 py-3': atTop}"
		style="will-change: font-size padding;"
	 >Our</span>
				<span
	 	class="inline-block leading-none transition-all duration-150 ease-out border-2 border-black border-opacity-75 bg-salmon"
		:class="{'text-3xl px-4 py-2' : !atTop, 'text-4xl px-6 py-3': atTop}"
		style="will-change: font-size padding;"
	 >{{title}}!</span>
			</h1>
		{% endif %}
		<a class="ml-auto underline hover:opacity-75" href="/">Home</a>
	</nav>
</div>

<div class="container py-16 mt-12 space-y-20">
	{{ content | safe }}
</div>
