---
layout: interior
---

<header class="flex flex-col items-center space-y-20">
	<div class="flex flex-col items-center space-y-12">
		<div class="flex space-x-3">
			<span
				class="inline-block px-6 py-4 leading-none border-2 border-black border-opacity-75 bg-salmon"
				>Recipe via
				<a
					class="text-black underline hover:text-opacity-75"
					href="{{ sourcelink }}"
					target="_blank"
					>{{ source }}</a
				>
			</span
			>
			<span
				class="inline-block px-6 py-4 leading-none border-2 border-black border-opacity-75 bg-yellow"
				>Photo by {{ imgcredit }}</span
			>
		</div>
		<h1 class="max-w-5xl text-6xl leading-tight text-center">
			{{ title }}
		</h1>
	</div>

	<div
		class="flex justify-center w-full max-w-6xl p-10 bg-white border-2 border-black border-opacity-75"
	>
		<div class="relative w-full overflow-hidden pb-3/5">
			<img
				class="absolute inset-0 block object-cover w-full h-full"
				src="/./images/recipes/{{ eleventyNavigation.key }}.jpg"
				alt=""
			/>
		</div>
	</div>
</header>

<main class="grid recipe-info-grid">
	<div class="relative">
		<h2 class="pb-1 text-5xl border-b-2 border-black border-opacity-75">
			Ingredients
		</h2>
		<div class="sticky py-8 pr-5"
		style="top: var(--headerHeight);"
		>
			<ul class="space-y-1">
				{% for item in ingredients %}
					<li
					class="flex items-start py-2 space-x-4 text-lg cursor-pointer first:pt-0 last:pb-0"
					x-data="{isChecked: false}"
					@click="isChecked = !isChecked"
				>
						<span class="relative flex items-center flex-shrink-0 w-6">
							<span
							class="flex items-center justify-center w-full h-6 border-2 border-black border-opacity-75 rounded-full"
							:class="{ 'bg-salmon' : isChecked === true, 'bg-yellow' : isChecked === false }"
							>
								<span
							class="w-2 h-2 rounded-full "
							:class="{ 'bg-black' : isChecked === true}"
							></span>
							</span>&#8203;</span>
						<span :class="{ 'opacity-50' : isChecked === true}">{{
						item
					}}</span>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<article>
		<h2 class="pb-1 text-5xl border-b-2 border-black border-opacity-75">
			Steps
		</h2>
		<div class="pt-8 recipe-markdown">
			{{ content | safe }}
		</div>
	</article>
</main>