@font-face {
	font-family: "Freizeit";
	font-weight: 400;
	src: url("/webfonts/Freizeit-Regular.woff2") format("woff2"), url("/webfonts/Freizeit-Regular.woff") format("woff");
}

@font-face {
	font-family: "Freizeit";
	font-weight: 300;
	src: url("/webfonts/Freizeit-Light.woff2") format("woff2"), url("/webfonts/Freizeit-Light.woff") format("woff");
}